﻿@model WebStore.WEB.Models.CartViewModel

@{
    ViewData["Title"] = "Index";
}

@if (ViewBag.Message != null)
{
    <div class="row text-center">
        <h4>
            <label class="label label-danger">
                @ViewBag.Message
            </label>
        </h4>
    </div>
}
else
{
    <div class="row text-center">
        <h4>
            <label class="label label-primary">
                Your shopping cart
            </label>
        </h4>
    </div>
    <br />
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Quantity</th>
                        <th>Remove</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td class="text-center">
                                @item.Product.Name
                            </td>

                            <td class="text-center">
                                @item.Quantity
                            </td>

                            <td class="text-center">
                                <a class="btn btn-success"
                                   asp-controller="Cart"
                                   asp-action="AddSingle"
                                   asp-route-id="@item.Product.Id">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>

                                <a class="btn btn-danger"
                                   asp-controller="Cart"
                                   asp-action="RemoveSingle"
                                   asp-route-id="@item.Product.Id">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </a>
                            </td>

                            <td class="text-center">
                                <a class="btn btn-danger"
                                    asp-controller="Cart" 
                                    asp-action="Remove" 
                                    asp-route-id="@item.Product.Id">
                                    Remove all
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row text-center">
        <h4>
            <label class="label label-success">
                Total price: @Model.TotalPrice
            </label>
        </h4>
    </div>
    <br />
    <div class="row text-center">
        <a class="btn btn-success"
           asp-controller="Orders"
           asp-action="Add">
            Buy
            <span class="glyphicon glyphicon-bitcoin"></span>
        </a>
    </div>
    <br />
    <div class="row text-center">
        <a class="btn btn-danger"
           asp-controller="Cart"
           asp-action="EmptyCart">
            Empty cart
        </a>
    </div>
}
