﻿@model IEnumerable<WebStore.Models.Entities.Product>
 
@{
    ViewData["Title"] = "Index";
}

<div class="row text-center">
    <h2>
        <label>
            Products
        </label>
    </h2>
</div>

<div class="row text-center">
    @Html.ActionLink("Add new product", "Add", "Products", null, new { @class = "btn btn-success" })
</div>
<br />
<div id="products">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Add</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">DateAdded</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Remove</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td class="text-center">
                                <a class="btn btn-primary" id="btnCart" data-product-id="@product.Id">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                </a>
                            </td>

                            <td class="text-center">
                                <a asp-action="ProductInfo" asp-controller="Products" asp-route-id=@product.Id>
                                    @product.Name
                                </a>
                            </td>

                            <td class="text-center">
                                @product.Description
                            </td>

                            <td class="text-center col-md-2">
                                @product.Price
                            </td>

                            <td class="text-center col-md-3">
                                @product.DateAdded.ToString("dd.MM.yyyy")
                            </td>

                            <td class="text-center col-md-1">
                                <a href="@Url.Action("Edit", new { id = product.Id })" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </td>

                            <td class="text-center">
                                <a class="btn btn-danger" id="btnRemove" data-product-id="@product.Id">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $(document).on("click", "#btnCart", function () {
                var productId = $(this).attr("data-product-id");

                $.ajax({
                    url: "/Cart/Add/" + productId,
                    method: "POST",
                    dataType: "html",
                    success: function (data) {
                        $(document.getElementById("#products")).html(data);
                    }
                });
            });

            $(document).on("click", "#btnRemove", function () {
                var button = $(this);
                var productId = button.attr("data-product-id");

                if (confirm("Do you really want to delete the product?")) {
                    $.ajax({
                        url: "/Products/Remove/" + productId,
                        method: "POST",
                        dataType: "json",
                        success: function (data) {
                            if (!data.success) {
                                alert(data.message);
                            }
                            else {
                                button.parents("tr").fadeOut(1500, function () {
                                    button.parents("tr").remove();
                                });
                            }                            
                        }
                    });
                }
                
            });
        });
    </script>
}