﻿@model WebStore.WEB.Models.ProductFormViewModel

@{
    ViewData["Title"] = "ProductForm";
}

<h2>
    <label>
        @Model.Title
    </label>
</h2>

@Html.ValidationSummary(true)

<form asp-action="Save" asp-controller="Products" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <h4>
                    <label class="label label-primary">
                        @Html.LabelFor(m => m.Name)
                    </label>
                </h4>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>

            <div class="form-group">
                <h4>
                    <label class="label label-primary">
                        @Html.LabelFor(m => m.Description)
                    </label>
                </h4>
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>

            <div class="form-group">
                <h4>
                    <label class="label label-primary">
                        @Html.LabelFor(m => m.Price)
                    </label>
                </h4>
                @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Price)
            </div>
        </div>
        <br />
        @if (Model.Title != "Edit product")
        {
            <div class="col-md-6">
                <div class="form-group">
                    <input type="file" name="Files" class="form-control" />
                    <input type="file" name="Files" class="form-control" />
                    <input type="file" name="Files" class="form-control" />
                    <input type="file" name="Files" class="form-control" />
                </div>

                @*<div id="files" class="dropzone" name="Files" multiple>
                    <div class="dz-message">
                        <h3 class="sbold">Drop files here to upload</h3>
                        <span>You can also click to open file browser</span>
                    </div>
                </div>*@
            </div>
        }
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.DateAdded)
    @Html.AntiForgeryToken()

    <br />
    <div class="row">
        <div class="col-md-offset-1">
            <button type="submit" class="btn btn-success" id="sendForm">
                <span class="glyphicon glyphicon-ok"></span>
            </button>

            <a href="@Url.Action("Index")" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
    </div>
</form>

@section Scripts
{
    @*<link href="~/dropzone/dropzone.css" rel="stylesheet" />
    <script src="~/dropzone/dropzone.js"></script>*@

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/NumberDateValidation.js"></script>

    @*<script>
        Dropzone.autoDiscover = false;

        $(document).ready(function () {
            $("#files").dropzone({
                url: "/Products/Save",
                paramName: "Files",
                addRemoveLinks: true,
                clickable: true,
                autoProcessQueue: false,
                uploadMultiple: true,
                parallelUploads: 4,
                maxFiles: 4,
                maxFilesize: 2,
                init: function () {
                    dzElement = this;

                    $(document).on("click", "#sendForm", function (e) {
                        dzElement.processQueue();
                    });
                }
            });
        });
    </script>*@
}