﻿@model WebStore.Models.Entities.Product

@{
    ViewData["Title"] = Model.Name;
    string active = String.Empty;
}

<div class="row text-center">
    <h3>
        <label>@Model.Name</label>
    </h3>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <h4>
                        <label class="label label-primary">
                            @Html.LabelFor(m => m.Name)
                        </label>
                    </h4>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <h4>
                        <label class="label label-primary">
                            @Html.LabelFor(m => m.Price)
                        </label>
                    </h4>
                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <h4>
                        <label class="label label-primary">
                            @Html.LabelFor(m => m.DateAdded)
                        </label>
                    </h4>
                    @Html.TextBoxFor(m => m.DateAdded, "{0:dd.MM.yyyy}", new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <h4>
                        <label class="label label-primary">
                            @Html.LabelFor(m => m.Description)
                        </label>
                    </h4>
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-offset-1">
        <div id="imageCarousel" class="carousel slide"
             data-interval="3000" data-ride="carousel"
             data-pause="hover" data-wrap="true" style="width: 1000px; height: 500px;">

            <ol class="carousel-indicators">
                @for (int i = 0; i < Model.Files.Count; i++)
                {
                    active = (i == 0) ? "active" : "";

                    <li data-target="#imageCarousel" data-slide-to="@i" class=@active></li>
                }
            </ol>

            <div class="carousel-inner">
                @for (int i = 0; i < Model.Files.Count; i++)
                {
                    active = (i == 0) ? "active" : "";

                    var imagePath = $@"/products/{Model.Name}/{Model.Files.ElementAt(i).Name}";

                    <div class="item @active" style="background-image: url(@imagePath);">
                        @*<img src="~/products/Coffee/@Model.Files.ElementAt(i).Name" class="img-responsive" />*@
                    </div>
                }
            </div>

            <a href="#imageCarousel" class="carousel-control left" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a href="#imageCarousel" class="carousel-control right" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>