﻿@model WebStore.WEB.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h4>
    <label>
        Log In
    </label>
</h4>

@using (Html.BeginForm("LogIn", "Account"))
{
    @Html.ValidationSummary(false)

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <h4>
                    <label class="label label-primary">
                        @Html.LabelFor(m => m.Email)
                    </label>
                </h4>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <h4>
                    <label class="label label-primary">
                        @Html.LabelFor(m => m.Password)
                    </label>
                </h4>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>

            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.RememberMe) Remember me?
                </label>
            </div>
        </div>
    </div>

    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-3 text-center">
            <input type="submit" class="btn btn-primary" value="Log in" />
        </div>
    </div>
}
<br />
<form asp-action="SignInWithGoogle">
    <button class="btn btn-warning" type="submit">
        Войти с помощью аккаунта Google
    </button>
</form>
<br />
<form asp-action="SignInWithFacebook">
    <button class="btn btn-warning" type="submit">
        Войти с помощью аккаунта Facebook
    </button>
</form>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}