﻿@model WebStore.WEB.Models.PeriodEmailViewModel

@{
    string message = (ViewBag.Success != null)
        ? ViewBag.Success
        : ViewBag.Error;

    string success = (ViewBag.Success != null)
        ? "text-success"
        : "text-danger";
}

<div class="row text-center @success">
    <label>
        @message
    </label>
</div>

<form asp-action="SendEmail" asp-controller="Orders"
    data-ajax="true"
    data-ajax-method="POST"
    data-ajax-mode="replace"
    data-ajax-update="#periodEmail">

    @Html.HiddenFor(m => m.FilePath)
    @Html.HiddenFor(m => m.FileName)
    <div class="row">
        <div class="col-md-offset-4 col-md-4 text-center">
            <div class="form-group">
                <h4>
                    <label class="label label-primary">
                        Provide an Email
                    </label>
                </h4>
            </div>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row text-center">
        <input type="submit" class="btn btn-primary" value="Send" />
    </div>
</form>
