﻿@model WebStore.Models.Logic.PeriodInfo
@using WebStore.Models.Logic;

@if (ViewBag.Message != null)
{
    <div class="row text-center">
        <h4>
            <label class="label label-danger">
                @ViewBag.Message
            </label>
        </h4>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="col-md-6 text-center">
                <h4>
                    <label class="label label-primary">
                        @Html.LabelFor(m => m.SalesCount)
                    </label>
                </h4>
                <label>
                    @Html.DisplayFor(m => m.SalesCount)
                </label>
            </div>
            <div class="col-md-6 text-center">
                <h4>
                    <label class="label label-primary">
                        @Html.LabelFor(m => m.TotalPrice)
                    </label>
                </h4>
                <label>
                    @Html.DisplayFor(m => m.TotalPrice)
                </label>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <table class="table table-bordered table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="text-center">Date</th>
                        <th class="text-center">User</th>
                        <th class="text-center">Products</th>
                        <th class="text-center">Price</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var order in Model.Orders)
                    {
                        <tr>
                            <td class="text-center">@order.Date.ToString("dd.MM.yyyy")</td>
                            <td class="text-center">@order.UserEmail</td>
                            <td class="text-center">@order.ProductsCount</td>
                            <td class="text-center">@order.Price</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-offset-4 col-md-4">

            <div class="col-md-6 text-center">
                <form asp-action="ExportToExcel" asp-controller="Orders" method="post">
                    @*Hidden values for model mapping*@
                    @Html.HiddenFor(m => m.SalesCount)
                    @Html.HiddenFor(m => m.TotalPrice)
                    @Html.HiddenFor(m => m.StartDate)
                    @Html.HiddenFor(m => m.EndDate)
                    @for (int c = 0; c < Model.Orders.Count; c++)
                    {
                        <input name="Orders[@c].Date" value="@Model.Orders[c].Date" type="hidden" />
                        <input name="Orders[@c].Price" value="@Model.Orders[c].Price" type="hidden" />
                        <input name="Orders[@c].ProductsCount" value="@Model.Orders[c].ProductsCount" type="hidden" />
                        <input name="Orders[@c].UserEmail" value="@Model.Orders[c].UserEmail" type="hidden" />
                    }
                    @* End of hidden values *@

                    <button type="submit" class="btn btn-success">
                        Export to Excel
                        <span class="glyphicon glyphicon-file"></span>
                    </button>
                </form>

                @*<input type="submit" formaction="@Url.Action("ExportToExcel", "Orders")" formmethod="post" value="Export to Excel"
                        class="btn btn-success" />*@
            </div>

            <div class="col-md-6 text-center">
                <form asp-action="SendbyEmail" asp-controller="Orders"
                      data-ajax="true"
                      data-ajax-method="POST"
                      data-ajax-mode="replace"
                      data-ajax-update="#periodEmail">

                    @*Hidden values for model mapping*@
                    @Html.HiddenFor(m => m.SalesCount)
                    @Html.HiddenFor(m => m.TotalPrice)
                    @Html.HiddenFor(m => m.StartDate)
                    @Html.HiddenFor(m => m.EndDate)
                    @for (int c = 0; c < Model.Orders.Count; c++)
                    {
                        <input name="Orders[@c].Date" value="@Model.Orders[c].Date" type="hidden" />
                        <input name="Orders[@c].Price" value="@Model.Orders[c].Price" type="hidden" />
                        <input name="Orders[@c].ProductsCount" value="@Model.Orders[c].ProductsCount" type="hidden" />
                        <input name="Orders[@c].UserEmail" value="@Model.Orders[c].UserEmail" type="hidden" />
                    }
                    @* End of hidden values *@

                    <button type="submit" class="btn btn-primary">
                        Send by Email
                        <span class="glyphicon glyphicon-envelope"></span>
                    </button>
                </form>

                @*<input type="submit" formaction="@Url.Action("SendByEmail", "Orders")" formmethod="post" value="Send by Email"
                       class="btn btn-primary" id="btnEmail" />*@
            </div>
        </div>
    </div>
}