﻿@model WebStore.Models.Logic.UserOrderInfo

<div class="col-md-offset-2 col-md-8">
    @if (ViewBag.Message != null)
    {
        <div class="row text-center">
            <h4>
                <label class="label label-danger">
                    ViewBag.Message
                </label>
            </h4>
        </div>
    }
    else
    {
        <div class="row text-center">
            <h4>
                <label class="label label-success">
                    Order info
                </label>
            </h4>
        </div>
        <div class="row">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Products</th>
                        <th>Order price</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            @Model.DateBought.ToString("dd.MM.yyyy")
                        </td>

                        <td>
                            <ul class="list-group">
                                @foreach (var product in Model.ProductsAmmount)
                                {
                                    <li class="list-group-item list-group-item-info">
                                        @product.ProductName (@product.Ammount)
                                    </li>
                                }
                            </ul>
                        </td>

                        <td>
                            @Model.OrderPrice
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row text-center">
            <h4>
                <label class="label label-primary">
                    @Model.Username
                </label>
            </h4>
        </div>
    }
</div>