﻿@model IEnumerable<WebStore.Models.Logic.OrderInfo>

@{
    ViewData["Title"] = "Index";
    int number = 0;
}
<br />
<div class="row text-center">
    <a asp-action="Period" asp-controller="Orders" class="btn btn-warning">
        <span class="glyphicon glyphicon-time"></span>
    </a>
</div>
<br />
@if (ViewBag.Message != null)
{
    <div class="row text-center">
        <h4>
            <label class="label label-danger">
                @ViewBag.Message
            </label>
        </h4>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-6">
            <div class="row text-center">
                <h4>
                    <label class="label label-primary">
                        Orders
                    </label>
                </h4>
            </div>

            <div class="col-md-offset-2 col-md-8">
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Price</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var order in Model)
                        {
                            number++;

                            <tr>
                                <td class="text-center">
                                    <button id="order" class="btn btn-default" data-order-id="@order.Id">
                                        @number
                                    </button>
                                </td>

                                <td class="text-center">
                                    @order.DateBought.ToString("dd.MM.yyyy")
                                </td>

                                <td class="text-center">
                                    @order.Price
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6">
            <div id="orderInfo"></div>
        </div>
    </div>
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $(document).on("click", "#order", function () {
                var orderId = $(this).attr("data-order-id");

                $.ajax({
                    url: "/Orders/GetUserOrderInfo/" + orderId,
                    method: "GET",
                    dataType: "html",
                    success: function (data) {
                        $("#orderInfo").hide("fast");
                        $("#orderInfo").html(data);
                        $("#orderInfo").show("slow");
                    }
                });
            });
        });
    </script>
}