﻿@model WebStore.WEB.Models.PeriodViewModel

@{
    ViewData["Title"] = "Period";
    ViewBag.StartDate = Model.StartDate;
    ViewBag.EndDate = Model.EndDate;
}


<div class="row text-center">
    <h3>
        <label>
            Periods info
        </label>
    </h3>
</div>

<form asp-action="GetPeriodInfo" asp-controller="Orders"
      data-ajax="true"
      data-ajax-method="GET"
      data-ajax-mode="replace"
      data-ajax-update="#periodInfo">

    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="col-md-6">
                <div class="form-group">
                    <h4>
                        <label class="label label-primary">
                            @Html.LabelFor(m => m.StartDate)
                        </label>
                    </h4>
                    @Html.EditorFor(m => m.StartDate, new { @class = "form-control", id = "startDate" })
                    @Html.ValidationMessageFor(m => m.StartDate)
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <h4>
                        <label class="label label-primary">
                            @Html.LabelFor(m => m.EndDate)
                        </label>
                    </h4>
                    @Html.EditorFor(m => m.EndDate, new { @class = "form-control", id = "endDate" })
                    @Html.ValidationMessageFor(m => m.EndDate)
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <button type="submit" class="btn btn-primary">Show</button>
    </div>
</form>
<br />
<div id="periodInfo"></div>
<br />
<div id="periodEmail"></div>

@section Scripts
{
    <script src="~/lib/jquey-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
}