﻿@model WebStore.WEB.Models.AddPhotoViewModel

<form asp-action="AddPhoto" asp-controller="Users" method="POST" enctype="multipart/form-data">

    @Html.HiddenFor(m => m.Id)

    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <input type="file" name="File" class="form-control" />
            <br />
            <div class="row text-center">
                <button class="btn btn-primary" type="submit">
                    Add
                </button>
            </div>
        </div>
    </div>
</form>