﻿@model WebStore.Models.Logic.EditUserModel

@if (ViewBag.Error != null)
{
    <div class="row text-center">
        <h4>
            <label class="label label-danger">
                @ViewBag.Error
            </label>
        </h4>
    </div>
}
else
{
    <form asp-action="EditUser" asp-controller="Users" method="post">
        @Html.HiddenFor(m => m.Id)

        <div class="row">
            <div class="form-group">
                <h4>
                    <label class="label label-warning">
                        @Html.LabelFor(m => m.Name)
                    </label>
                </h4>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <h4>
                    <label class="label label-warning">
                        @Html.LabelFor(m => m.Surname)
                    </label>
                </h4>
                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
            </div>

            <div class="row text-center">
                <button type="submit" class="btn btn-warning">Edit</button>
            </div>
        </div>
    </form>
}
<br />