﻿@model IEnumerable<WebStore.Models.Logic.UserInfo>

@{
    ViewData["Title"] = "Index";
}

<div class="row text-center">
    <h4>
        <label>
            Users
        </label>
    </h4>
</div>

@if (TempData["Error"] != null)
{
    <div class="row text-center">
        <text class="text-danger">
            @TempData["Error"]
        </text>
    </div>
}

@if (ViewBag.Message != null)
{
    <div class="row text-center">
        <h4>
            <label class="label label-danger">
                @ViewBag.Message
            </label>
        </h4>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Email</th>
                        <th class="text-center">Full name</th>
                        <th class="text-center">Date registered</th>
                        <th class="text-center">Promotion</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td class="text-center">
                                <a asp-action="UserProfile" asp-controller="Users" asp-route-id="@user.Id">
                                    @user.Email
                                </a>
                            </td>

                            <td class="text-center">
                                @user.FullName
                            </td>

                            <td class="text-center">
                                @user.DateRegistered.ToString("dd.MM.yyyy")
                            </td>

                            <td class="text-center">
                                @if (user.IsManager)
                                {
                                    <a class="btn btn-danger"
                                       asp-controller="Users"
                                       asp-action="DowngradeFromManager"
                                       asp-route-id="@user.Id">
                                        Manager
                                        <span class="glyphicon glyphicon-arrow-down"></span>
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-success"
                                       asp-controller="Users"
                                       asp-action="PromoteToManager"
                                       asp-route-id="@user.Id">
                                        Manager
                                        <span class="glyphicon glyphicon-arrow-up"></span>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}