﻿@model WebStore.Models.Logic.UserInfo

@{
    ViewData["Title"] = "User Profile";
}

<div class="row text-center">
    <h3>
        <label>
            User profile
        </label>
    </h3>
</div>

@if (ViewBag.Error != null)
{
    <div class="row text-center">
        <h4>
            <label class="label label-danger">
                @ViewBag.Error
            </label>
        </h4>
    </div>
}

@if (Model.FileName == null)
{
    <div class="row text-center">
        <a id="btnAddPhoto" class="btn btn-success">
            Add photo
        </a>
    </div>
}
else
{
    <div class="row text-center">
        <img src="~/users/@Model.Email/@Model.FileName" style="width: 200px; height: 200px;" />
    </div>
    <br />
    <div class="row text-center">
        <a id="btnAddPhoto" class="btn btn-warning">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a id="btnDelete" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
    </div>
}
<br />
<div id="addPhoto"></div>
@if (Model.IsManager)
{
    <div class="row text-center">
        <h4>
            <label class="label label-success">
                You are a manager
                <span class="glyphicon glyphicon-user"></span>
            </label>
        </h4>
    </div>
}
<div class="row">
    <div class="col-md-offset-4 col-md-4 text-center">
        <div class="form-group">
            <h4>
                <label class="label label-primary">
                    @Html.LabelFor(m => m.FullName)
                </label>
            </h4>
            <div class="input-group">
                @Html.TextBoxFor(m => m.FullName, new { @disabled = "disabled", @class = "form-control" })
                <div class="input-group-btn">
                    <button class="btn btn-warning" id="btnEdit">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </div>
            </div>
        </div>
        <div id="editUser"></div>
        <div class="form-group">
            <h4>
                <label class="label label-primary">
                    @Html.LabelFor(m => m.Email)
                </label>
            </h4>
            @Html.TextBoxFor(m => m.Email, new { @disabled = "disabled", @class = "form-control" })
        </div>

        <div class="form-group">
            <h4>
                <label class="label label-primary">
                    @Html.LabelFor(m => m.DateRegistered)
                </label>
            </h4>
            @Html.TextBoxFor(m => m.DateRegistered, "{0:dd.MM.yyyy}", new { @disabled = "disabled", @class = "form-control" })
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $(document).on("click", "#btnAddPhoto", function () {
                var userId = '@Model.Id';

                $.ajax({
                    url: "/Users/AddPhoto/" + userId,
                    method: "GET",
                    dataType: "html",
                    success: function (data) {
                        $("#addPhoto").hide("fast")
                        $("#addPhoto").html(data);
                        $("#addPhoto").show("slow");
                    }
                });
            });

            $(document).on("click", "#btnDelete", function () {
                var userId = '@Model.Id'

                if (confirm("Do you really want to delete the photo?")) {
                    window.location.href = "/Users/DeletePhoto/" + userId;
                }
            });

            $(document).on("click", "#btnEdit", function () {
                var userId = '@Model.Id'

                $.ajax({
                    url: "/Users/EditUser/" + userId,
                    method: "GET",
                    dataType: "html",
                    success: function (data) {
                        $("#editUser").hide("fast");
                        $("#editUser").html(data);
                        $("#editUser").show("slow");
                    }
                });
            });
        });
    </script>
}